body
{
	background-color:rgba(150, 115, 90, 1);
}
.item
{
	height:50px;
	width:50px;
	display:flex;
	color:black;
	align-items:center;
	font-weight:750;
	
}
nav
{
	margin:0;
	padding:0;
}
.container
{
	width:40%;
	height:60px;
	background-color:rgba(135, 125, 125, 1);
	display:flex;
	align-items:center;
	margin-left:auto;
	margin-right:5%;
	border-radius:15px;
	justify-content:space-around;
	
}
a
{
	text-decoration:none;
	font-family:verdana;
}
h1
{
	text-align:center;
}
.listings-container
{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	flex-basis:20%;
.listings
{
	display:flex;
	margin:30px;
	background-color:red;
	width:200px;
	height:200px;
	border:5px solid black;
}
.listings-img
{
	display:flex;
	width:200px;
	height:150px;
	background-color:blue;
	
}
@media screen and (max-width: 600px) {
	.listings-container
	{
		display:flex; 
		align-content:center;
		flex-direction: column;
	}
		.listings
		{
			width:75%;
			padding-top:25%;
		}
		.listing-img
		{
			width:75%;
		}
}
